<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <title>686 Adminize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script" rel="stylesheet" type="text/css">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>    
<body>

	<div class="container">
		
		<div class="row">
			
			<div class="span2">
			
			<div class="main-left-col">
			
				<h1><i class="icon-shopping-cart icon-large"></i> 订单管理系统</h1>
				
				<ul class="side-nav">
	
					<li class="active">
						<a href="/back"><i class="icon-home"></i> 管理</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#store-dropdown" href="#"><i class="icon-shopping-cart"></i> 商品 <b class="caret"></b></a>
						<ul id="store-dropdown" class="collapse">
                            <li><a href="/goods">商品管理</a></li>
							<li><a href="/orders">订单详情</a></li>
							<li><a href="/listing">订单查询</a></li>
						</ul>
					</li>
				</ul>
			
			</div> <!-- end main-left-col -->
		
		</div> <!-- end span2 -->
		
		<div class="span10">
			
		<div class="secondary-masthead">
		
			<ul class="nav nav-pills pull-right">
				<li>
					<a href="#"><i class="icon-globe"></i> 查看网站</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> 小明 <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/profile">个人信息</a></li>
						<li class="active"><a href="/form">账号设置</a></li>
						<li class="divider"></li>
						<li><a href="">注销</a></li>
					</ul>
				</li>
			</ul>
	
			<ul class="breadcrumb">
				<li>
					<a href="#">管理</a>
				</li>
			</ul>
			
		</div>
	
	<div class="main-area dashboard">
	
			
			<div class="row">
			
				<div class="span10">
				
					<div class="slate">
					
						<form class="form-inline" action="/goods/find" method="POST">
							<input type="text" class="input-large" name="s_name" placeholder="商品名称或关键字" value="<%= data.name %>">
							<input type="text" class="input-large" name="s_price1" placeholder=" - 最低价格 - " value="<%= data.price %>">
							<input type="text" class="input-large" name="s_price2" placeholder=" - 最高价格 - " value="<%= data.price %>"> 

							<button type="submit" class="btn btn-primary" id="find">查询商品</button>
						</form>
					
					</div>
				
				</div>
			
			</div>
			
			<div class="row">
				
				<div class="span10 listing-buttons">
				
					<a class="btn btn-small btn-primary" href="/add">添加商品</a>
				
				</div>
				
				<div class="span10">
				
					<div class="slate">
					
						<div class="page-header">
							<h2>商品详情</h2>
						</div>
					
						<table class="orders-table table">
						<thead>
							<tr>
								<th>商品</th>
								<th class="value">价格</th>
								<th class="actions">商品管理</th>
								<th class="actions">商品管理</th>
							</tr>
						</thead>
						<tbody id="tbody">  
							<% data.forEach((o,i)=>{ %>
							<tr>
								<td><a href="#"><%= o.type %> - <%= o.name %></a> <span class="label label-<%= o.inventoryStatus %>">剩余:<%= o.inventory %></span><br /><span class="meta"><%= o.introduce %></span></td>
								<td class="value">
									$<%= o.price %>
								</td>
								<td class="actions">
									<a class="btn btn-small btn-primary del" href="/goods/del/<%= o.id %>">下架</a>
								</td>
								<td class="actions">
									<a class="btn btn-small btn-primary" href="/update/toUpdate/<%= o.id %>">修改</a>
								</td>
							</tr>
							<% }) %>
						</tbody>
						</table>

					</div>
				
				</div>
				
				<div class="span5">
				
					<div class="pagination pull-left">
						<ul>
							<li ><a href="#">Prev</a></li>
							<li class="active">
							  <a href="#">1</a>
							</li>
							<li><a href="#">2</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				
				</div>
				
			</div>
			
		<div class="row">
		
			<div class="span10 footer">
			
				<p>&copy; Website Name 2014</p>
			
			</div>
		
		</div>
		
	</div>
	
	</div> <!-- end span10 -->
		
	</div> <!-- end row -->
		
</div> <!-- end container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/ajax.js"></script>


<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>