<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/zhuce.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <form action="/update/orderUpdate" method="POST">
    <div class="main_center">
        <input id="id" name="id" type="text" class="txtphone" value="<%= data[0].id %>" style="display: none;"/>
        <div class="txt txt0" >
            <span style="letter-spacing:4px;">订单状态:</span>
            <input id="status" name="status" type="text" class="txtphone" placeholder="请输入修改内容" value="<%= data[0].status %>"/>
            <br>
            <span></span>
        </div>
      <div class="txt txt0">
          <input type="submit" id="btn" class="zhucebtn" value="确认修改"/>
      </div>
     </div>
  </div>
</form>
  <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
</body>
</html>